@import "tailwindcss";
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: 'PBold';
    src: url(Fonts/Proxima/ProximaNova-Bold.ttf);
}

@font-face {
    font-family: 'PSBold';
    src: url(Fonts/Proxima/ProximaNova-Semibold.ttf);
}

@font-face {
    font-family: 'PMedium';
    src: url(Fonts/Proxima/ProximaNova-Medium.ttf);
}
